@font-face {
    font-family: Pipboy;
    src: url("/fonts/monofonto.otf");
}

body, .bg-light{
    font-family: Pipboy, sans-serif;
    color: #05f225;
    background: #272b23 !important;
}
body::after{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(
        0deg, rgba(0,0,0,.5),
        rgba(0,0,0,.4) 1px,
        transparent 1px,
        transparent 2px);
    opacity: .4;
    z-index: 10000;
    pointer-events: none;
}

/*start of border underneath navigation*/
.navbar.navbar-light{
    border-bottom: 2px solid;
    margin: 0px 10px;
}
.container-fluid{
    max-width: 80vw;
    margin: auto;
}
.navbar.navbar-light::before, .navbar.navbar-light::after{
    height: 5px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 5000;
    background: #05f225;
    bottom: -7px;
}
.navbar::before{
    left: 0px;
}
.navbar::after{
    right: 0px
}
/*end of border underneath navigation*/

ul > li.nav-item > button.nav-link,
ul > li.navbar-item > a.nav-link,
ul > li.navbar-item.active > button.nav-link{
    color: #05f225 !important;
    background: #272b23 !important;
    border: none;
    border-radius: 2px;

}
.navbar-item.active::before{
    content: "";
    position: absolute;
    background: #272b23;
    width: 100%;
    height: 20px;
    left: 0px;
    bottom: -10px;
    border-top: 2px solid #05f225;
    border-left: 2px solid;
    border-right: 2px solid;
    z-index: 1;
}
ul > li.navbar-item > a.nav-link{
    width:fit-content;
    margin: auto;
    font-size: 32px;
    line-height: 20px;
    padding-bottom: 0px;
    z-index: 2;
    position: relative;
    text-align: center;

}

.navbar-nav{
    width: 100%;
}

.navbar-light ul.navbar-nav > li{
    display: block;
    position: relative;
    width: 100%;
}


.nav-tabs{
    border-bottom: none;
}
/*buttons when active focused or hovered
  box shadow inside*/
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover{
    
    border-color: #05f225;
    box-shadow: 0px 0px 10px inset #05f225;
}
.center-img img{
    margin: auto;
    display: block;
    position: absolute;
    max-height: 300px;
    margin-top: 100px;
    left: calc(50vw - 87px);
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) contrast(2);
}

.pip-footer{
    position: fixed;
    bottom: 0px;
    width: calc(100% - 20px);
    margin: 10px;
    display: inline;
}

div .col.status-col{
    max-width: 40%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

div .col.status-col > ul{
    display: contents;
}

.level-container{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.level-container .level-progress{
    flex: 1;
    height: 50%;
    width: 100%;
    border: 2px solid;
    align-self: center;
    display: flex;
    margin-left: 10px;
}
.level-progress-bar{
    height: calc(100% + 2px);
    width: 75%;
    background: #05f225;
    align-self: center;
    position: relative;
    left: -1px;
}

.navbar.navbar-light.pip-footer{
    border: none;
    margin: 0 10px;
}
.hp-container,
.level-container,
.ap-container{
    background: #05f2252d;
    margin: 0 .2em;
    padding: 0 .25em;
    flex: 1;
}

.level-container{
    flex: 2;
}
.pip-footer-stats-container{
    margin: auto;
    max-width: 800px
}
.tab-content{
    display: flex;
    justify-content: center;
}
.stat-bar-container{
    max-width: 350px;
    margin: auto;
    margin-top: 4em;
}
.stat-bar{
    max-height: 1em;
    height: 0.7em;
    border: 0.1em solid;
    max-width: 4em;
    width: 4em;
    margin: .5em auto;
    margin-bottom: 6em;
}
.stat-bar.bottom-stat-bar{
    margin-bottom: 2em;
}

.stat-bar-value{
    height: 100%;
    width: 100%;
    background: #05f225;
}

.der-container{
    max-width: 500px;
    margin: auto;
}
.der-container .col-1, .der-container .col-2{
    background: #05f2252d;
    margin-right: 4px;

}
.der-container .col-1 img, .der-container .col-2 img{
    width: 100%;
    height: 100%;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(38) contrast(2);
}
.der-container .col-2 img{
    width: 50px;
    height: 50px;
}

.col-1.transparent,.col-2.transparent{
    background: transparent
}
.icon{
    padding: .2em;
    height: 20px;
    width: 20px;
}

.tab-content.item-list{
    display: block;
    float: left;
}

ul.item-list {
    display: block;
    list-style: none;
    margin-top: 1em;
    padding-left: 0;
}
ul.item-list li > a{    
    text-decoration: none;
    padding: 0.2em;
    display: block;
    width: 100%;
    color: #05f225;
}
ul.item-list li > a:hover{
    text-decoration: none;
    color: #272b23;
    background: #05f225;
}
.item-stat-container{
    height: calc(100vh - 20em);
    align-content: flex-end;
    justify-content: end;
}
.item-stat-container .highlight{
    background: #05f2252d;
    margin: .1em 0;
}
.item-stat-container .pull-left{
    display: inline-block;
    float: left;
}
.item-stat-container .pull-right{
    display: inline-block;
    float: right;
}











.sb-w-10{
    width: 10%;
}
.sb-w-20{
    width: 20%;
}
.sb-w-30{
    width: 30%;
}
.sb-w-40{
    width: 40%;
}
.sb-w-50{
    width: 50%;
}
.sb-w-60{
    width: 60%;
}
.sb-w-70{
    width: 70%;
}
.sb-w-80{
    width: 80%;
}
.sb-w-90{
    width: 90%;
}
.sb-w-100{
    width: 100%;
}